@font-face {
   font-family: 'Dair-Regular';
   font-display: swap;
   src: url('Dair-Regular/font.ttf');
}
@font-face {
   font-family: 'Mulish-VariableFont_wght';
   font-display: swap;
   src: url('Mulish-VariableFont_wght/font.ttf');
}
