@font-face {
   font-family: 'Mulish-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/JsonB/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-01-18_164908/fonts/Mulish-VariableFont_wght/font.ttf');
}
