@font-face {
   font-family: 'Dair-Regular';
   font-display: swap;
   src: url('file:///C:/Users/JsonB/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-01-18_164908/fonts/Dair-Regular/font.ttf');
}
